.author__avatar {
  width: 150px;
  height: 150px;
}


.author__name {
  font-size: 2rem;   // increase text size
  font-weight: 700;
  margin-top: 0.5em;
}

.author__bio,
.author__pronouns {
  font-size: 1.1rem; // slightly larger bio
  line-height: 1.6;
}

.author__urls-wrapper {
  margin-top: 1.5em;
}

.author__urls li {
  font-size: 1rem;
  margin-bottom: 0.25em;
}
